@font-face {
  font-family: "Monserrat";
  src: url("../assets/Montserrat-VariableFont_wght.ttf");
}
* {
  margin: 0;
  padding: 0;
}

.texto {
  color: #564f70;
  font-family: "Monserrat";
}

.fondo {
  background-color: #f8dfdf;
}

p {
  font-family: "Monserrat";
  font-size: 20px;
}

h1 {
  font-size: 65px;
  padding: 200px;
}

a {
  text-decoration: none;
  color: #564f70;
  font-weight: bold;
}

.heros img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  animation-name: animacion2;
  animation-timing-function: linear;
  animation-duration: 3.5s;
  filter: brightness(85%);
}
.heros h1 {
  color: #ffffff;
  position: absolute;
  top: 20%;
  right: 22%;
}

/* Menu de navegacion */
.navbar.navbar-expand-md {
  background-color: #fccccc;
}

.offcanvas {
  background-color: #fccccc;
}

.navbar-brand {
  height: 70px;
}

.nav-link {
  font-size: 22px;
}

.pie {
  background-color: #fccccc;
}

.btn {
  background-color: #ffbbbb;
  border-color: #ffffff;
}
.btn:hover {
  background-color: #fca0a0;
  border-color: #e6e6e6;
}

.encabezado {
  text-align: center;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}

/* Hero */
.hero img {
  height: 700px;
  object-fit: cover;
  animation-name: animacion2;
  animation-timing-function: linear;
  animation-duration: 3.5s;
  filter: brightness(0.9);
}

/* cards */
.cards {
  background-color: #f8dfdf;
  text-align: center;
  padding-bottom: 30px;
  animation-name: animacion1;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-duration: 1s;
  transform: translateY(0);
}

.card_body2 {
  display: inline-block;
  width: 30%;
  text-align: center;
  background-color: #facdcd;
  margin: 15px;
}
.card_body2 img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.card_body2 p {
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: justify;
  margin: 0px;
}

.about-us {
  padding: 40px;
}
.about-us h1 {
  text-align: center;
  font-size: 50px;
  padding: 100px 40px 40px 40px;
}

.logoo {
  width: 100%;
  height: 400px;
}

.about-us-content {
  display: flex;
}
.about-us-content p {
  font-size: 25px;
  padding: 120px 40px 120px 0px;
  text-align: justify;
}

.about-us-content2 {
  display: flex;
  margin-top: 80px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.about-us-content2 p {
  font-size: 25px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
}
.about-us-content2 img {
  height: 800px;
  width: 400px;
  object-fit: cover;
  margin-bottom: 50px;
}

.about-us-content3 {
  display: flex;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
}
.about-us-content3 p {
  font-size: 25px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
}
.about-us-content3 img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

@keyframes animacion1 {
  0% {
    transform: translateY(-150%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animacion2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
}
.mapa {
  margin-bottom: 30px;
  width: 1200px;
  height: 600px;
}

.Instagram img {
  width: 100px;
  height: 100px;
  margin-bottom: 150px;
}

.formulario {
  padding-bottom: 80px;
}

.logoscontacto {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}
.logoscontacto img {
  width: 100px;
  height: 100px;
}
.logoscontacto p {
  font-size: 50px;
  font-weight: bold;
}

.logoscontacto2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}
.logoscontacto2 img {
  width: 200px;
  height: 150px;
}

h2 {
  font-size: 40px;
  padding: 80px;
  padding-top: 140px;
}

.productos {
  display: flex;
}
.productos .lista-productos {
  display: flex;
}
.productos .lista-productos .categorias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-top: 0px;
  gap: 60px;
  margin-left: 45px;
  margin-bottom: 150px;
}
.productos .lista-productos .categorias .item-categoria {
  width: 100%;
  background-color: #dfbfbf;
  text-align: center;
  padding: 20px;
}
.productos .tarjetas {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.productos .border-3 {
  border-color: #fae5e5;
}
.productos .card {
  width: 18rem;
  background-color: #fceeee;
  align-items: center;
  justify-content: center;
  animation-name: animacion1;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-duration: 1s;
  transform: translateX(0);
}
.productos .card img {
  padding-top: 11px;
  object-fit: cover;
  width: 190px;
  height: 400px;
  border-radius: 20px;
}
.productos .card:hover {
  box-shadow: 0px 25px 20px 0px #dfbfbf;
  transition: 0.2s;
}

@keyframes animacion1 {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* flex */
.boxes_servicios {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 60px;
  padding: 50px;
}

.box_servicios {
  width: 1400px;
  height: 500px;
  display: flex;
  overflow: hidden;
  animation-name: animacion1;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-duration: 1s;
  transform: translateX(0);
}
.box_servicios h2 {
  font-size: 30px;
  padding: 30px 30px 0px 30px;
}
.box_servicios p {
  padding: 50px;
  padding-top: 80px;
  color: #564f70;
  font-family: "Monserrat";
  font-size: 22px;
  text-align: justify;
}
.box_servicios img {
  width: 650px;
  height: 500px;
  object-fit: cover;
}
.box_servicios:nth-child(even) {
  flex-direction: row-reverse;
  background-color: #fad0d0;
}
.box_servicios:hover {
  background-color: #fdbaba;
  box-shadow: 5px 5px 5px 0px #b38b8b;
  transition: 0.5s;
}
.box_servicios:hover img {
  height: 600px;
  transition: 1.5s;
}

@keyframes animacion1 {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* grilla */
.grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 80%;
  margin: 0 auto;
  gap: 30px;
  margin-bottom: 100px;
  margin-top: 50px;
}

.grid img {
  width: 450px;
  height: 400px;
  object-fit: cover;
  max-width: 100%;
  animation-name: animacion2;
  animation-timing-function: linear;
  animation-duration: 2.5s;
}

@keyframes animacion2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
}
/*media queries*/
@media only screen and (max-width: 1024px) {
  h1 {
    padding: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 60px;
  }
  .heros h1 {
    position: absolute;
    left: 30%;
    top: 30%;
  }
  /* index */
  .about-us h1 {
    text-align: center;
    font-size: 40px;
    padding: 0px;
  }
  .about-us .logoo {
    width: 100%;
    height: 100%;
  }
  .about-us .about-us-content {
    display: inline-block;
  }
  .about-us .about-us-content p {
    font-size: 20px;
    padding: 50px 0px 50px 0px;
    text-align: justify;
  }
  .about-us .about-us-content2 {
    display: flex;
    margin-top: 80px;
    flex-direction: row-reverse;
  }
  .about-us .about-us-content2 p {
    font-size: 18px;
    padding: 50px 50px 50px 0px;
    text-align: justify;
  }
  .about-us .about-us-content2 img {
    height: 700px;
    width: 300px;
    object-fit: cover;
    justify-items: center;
  }
  .about-us .about-us-content3 {
    display: inline-block;
    margin-top: 150px;
  }
  .about-us .about-us-content3 p {
    font-size: 18px;
    padding: 50px 0px 50px 0px;
    text-align: justify;
  }
  .about-us .about-us-content3 img {
    height: 400px;
    width: 400px;
    object-fit: cover;
  }
  .grid img {
    width: 350px;
    height: 300px;
    max-width: 100%;
  }
  .mapa {
    width: 100%;
    height: 500px;
    justify-content: center;
  }
  .hero img {
    height: 350px;
    object-fit: cover;
  }
  /* cards */
  .card_body2 img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .card_body2 {
    display: flex;
    flex-direction: column;
    width: 95%;
    text-align: center;
    background-color: #f8c5c5;
  }
  .card_body2 p {
    font-family: "Monserrat";
    font-size: 20px;
    padding: 10px;
  }
  /* boxes */
  .boxes_servicios {
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 30px;
  }
  .box_servicios {
    width: 900px;
    height: 300px;
    background-color: #f7bbbb;
    display: flex;
  }
  .box_servicios img {
    width: 450px;
    height: 300px;
    object-fit: cover;
  }
  .box_servicios:hover img {
    height: 350px;
    transition: 0.8s;
  }
  .box_servicios p {
    padding: 20px;
    color: #564f70;
    font-family: "Monserrat";
    font-size: 14px;
  }
  .box_servicios h2 {
    font-size: 22px;
    padding: 15px 15px 0px 15px;
  }
  .productos {
    display: inline-block;
  }
  .productos .lista-productos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productos .lista-productos .categorias {
    gap: 30px;
    margin-left: 0px;
    margin-bottom: 100px;
  }
  .productos .lista-productos .categorias .item-categoria {
    width: 175%;
    background-color: #dfbfbf;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    padding: 12px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  .heros h1 {
    position: absolute;
    left: 30%;
    top: 35%;
  }
  /* index */
  .about-us h1 {
    text-align: center;
    font-size: 35px;
    padding: 0px;
  }
  .about-us .logoo {
    width: 100%;
    height: 100%;
  }
  .about-us .about-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-us .about-us-content p {
    font-size: 20px;
    padding: 50px 0px 50px 0px;
    text-align: justify;
  }
  .about-us .about-us-content2 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-us .about-us-content2 p {
    font-size: 18px;
    padding: 50px 0px 50px 0px;
    text-align: justify;
  }
  .about-us .about-us-content2 img {
    height: 700px;
    width: 300px;
    object-fit: cover;
    justify-items: center;
  }
  .about-us .about-us-content3 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-us .about-us-content3 p {
    font-size: 18px;
    padding: 50px 0px 50px 0px;
    text-align: justify;
  }
  .about-us .about-us-content3 img {
    height: 400px;
    width: 400px;
    object-fit: cover;
  }
  .grid img {
    width: 350px;
    height: 300px;
    max-width: 100%;
  }
  .mapa {
    width: 100%;
    height: 300px;
    justify-content: center;
  }
  .hero img {
    height: 350px;
    object-fit: cover;
  }
  /* cards */
  .card_body2 img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .card_body2 {
    display: flex;
    flex-direction: column;
    width: 95%;
    text-align: left;
    background-color: #f8c5c5;
  }
  .card_body2 p {
    font-family: "Monserrat";
    font-size: 20px;
    padding: 10px;
  }
  /* boxes */
  .box_servicios {
    display: block;
    width: 100%;
    height: 450px;
    text-align: left;
    background-color: #f8c5c5;
  }
  .box_servicios img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .box_servicios:hover img {
    height: 250px;
    transition: 0.8s;
  }
  .box_servicios p {
    padding: 10px;
    color: #564f70;
    font-family: "Monserrat";
    font-size: 15px;
  }
  .box_servicios h2 {
    text-align: center;
  }
  .productos {
    display: inline-block;
  }
  .productos .lista-productos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productos .lista-productos .categorias {
    gap: 30px;
    margin-left: 0px;
    margin-bottom: 100px;
  }
  .productos .lista-productos .categorias .item-categoria {
    width: 135%;
    background-color: #dfbfbf;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    margin-left: 0px;
  }
  .logoscontacto img {
    width: 80px;
    height: 80px;
  }
  .logoscontacto p {
    font-size: 40px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    padding: 12px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 30px;
  }
  .heros h1 {
    position: absolute;
    left: 30%;
    top: 35%;
  }
  /* index */
  .about-us h1 {
    text-align: center;
    font-size: 25px;
    padding: 0px;
  }
  .about-us .logoo {
    width: 100%;
    height: 100%;
  }
  .about-us .about-us-content {
    display: flex;
    flex-direction: column;
  }
  .about-us .about-us-content p {
    font-size: 15px;
    padding: 50px 0px 50px 0px;
    text-align: justify;
  }
  .about-us .about-us-content2 {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-us .about-us-content2 p {
    font-size: 15px;
    padding: 50px 0px 50px 0px;
    text-align: justify;
  }
  .about-us .about-us-content2 img {
    height: 700px;
    width: 100%;
    object-fit: cover;
  }
  .about-us .about-us-content3 {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-us .about-us-content3 p {
    font-size: 15px;
    padding: 50px 0px 50px 0px;
    text-align: justify;
  }
  .about-us .about-us-content3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  /* Trabajos */
  .grids {
    display: flex;
    flex-direction: column;
  }
  .grid img {
    width: 400px;
    height: 300px;
  }
  .mapa {
    width: 100%;
    height: 300px;
  }
  .hero img {
    height: 220px;
    object-fit: cover;
  }
  /* cards */
  .card_body2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: left;
    background-color: #f8c5c5;
    margin-left: 20px;
  }
  .card_body2 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card_body2 p {
    font-family: "Monserrat";
    font-size: 15px;
    padding: 10px;
  }
  /* boxes */
  .box_servicios {
    display: block;
    height: 300px;
    width: 100%;
    text-align: left;
    background-color: #f8c5c5;
  }
  .box_servicios img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
  .box_servicios:hover img {
    height: 100px;
    transition: 0.8s;
  }
  .box_servicios p {
    padding: 10px;
    color: #564f70;
    font-family: "Monserrat";
    font-size: 12px;
  }
  .box_servicios h2 {
    font-size: 16px;
    text-align: center;
  }
  .productos {
    display: inline-block;
  }
  .productos .lista-productos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productos .lista-productos .categorias {
    padding: 30px 0px 0px 5px;
    gap: 30px;
    margin-left: 0px;
    margin-bottom: 100px;
  }
  .productos .lista-productos .categorias .item-categoria {
    width: 100%;
    background-color: #dfbfbf;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    margin-left: 0px;
  }
  .logoscontacto img {
    width: 50px;
    height: 50px;
  }
  .logoscontacto p {
    font-size: 18px;
    font-weight: bold;
  }
}

/*# sourceMappingURL=style.css.map */
