.mapa {

    margin-bottom: 30px;
    width: 1200px;
    height: 600px;

}

.Instagram img {

    width: 100px;
    height: 100px;
    margin-bottom: 150px;

}

.formulario {
    padding-bottom: 80px;
}

.logoscontacto {
    margin-top: 50px;
    

    img {
        width: 100px;
        height: 100px;
    }

    p {
        font-size: 50px;
        font-weight: bold;
    }

    @include contactos (center, center, 80px)
}

.logoscontacto2 {

    img {
        width: 200px;
        height: 150px;
    }

    @include contactos (center, center, 80px)
}



h2 {

    font-size: 40px;
    padding: 80px;
    padding-top: 140px;

}