/*media queries*/


@media only screen and (max-width:1024px) {



    h1 {

        padding: 15px;
        margin-top: 100px;
        margin-bottom: 100px;
        font-size: 60px;
    }


    .heros {
        h1 {
            position: absolute;
            left: 30%;
            top: 30%;
        }
    }





    /* index */

    .about-us {


        h1 {

            text-align: center;
            font-size: 40px;
            padding: 0px;
        }

        .logoo {

            width: 100%;
            height: 100%;



        }

        .about-us-content {

            display: inline-block;


            p {

                font-size: 20px;
                padding: 50px 0px 50px 0px;
                text-align: justify;


            }



        }

        .about-us-content2 {

            display: flex;
            margin-top: 80px;
            flex-direction: row-reverse;



            p {
                font-size: 18px;
                padding: 50px 50px 50px 0px;
                text-align: justify;

            }

            img {
                height: 700px;
                width: 300px;
                object-fit: cover;
                justify-items: center;



            }


        }

        .about-us-content3 {

            display: inline-block;

            margin-top: 150px;


            p {
                font-size: 18px;
                padding: 50px 0px 50px 0px;
                text-align: justify;

            }

            img {
                height: 400px;
                width: 400px;
                object-fit: cover;



            }
        }

    }



    .grid img {

        width: 350px;
        height: 300px;
        max-width: 100%;

    }

    .mapa {

        width: 100%;
        height: 500px;
        justify-content: center;

    }

    .hero img {

        height: 350px;
        object-fit: cover;




    }

    /* cards */

    .card_body2 img {

        width: 100%;
        height: 400px;
        object-fit: cover;

    }

    .card_body2 {
        display: flex;
        flex-direction: column;
        width: 95%;
        text-align: center;
        background-color: #f8c5c5;

        p {
            font-family: 'Monserrat';
            font-size: 20px;
            padding: 10px;
        }


    }



    /* boxes */

    .boxes_servicios {
        padding: 30px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        gap: 30px;


    }

    .box_servicios {

        width: 900px;
        height: 300px;
        background-color: #f7bbbb;
        display: flex;

        img {
            width: 450px;
            height: 300px;
            object-fit: cover;


        }

        &:hover img {

            height: 350px;
            transition: .8s;
        }

        p {

            padding: 20px;
            color: #564f70;
            font-family: 'Monserrat';
            font-size: 14px;

        }



        h2 {
            font-size: 22px;
            padding: 15px 15px 0px 15px;


        }

    }



    .productos {
        display: inline-block;
        

        .lista-productos {
            display: flex;
            justify-content: center;
            align-items: center;

            .categorias {
                
                
                gap: 30px;
                margin-left: 0px;
                margin-bottom: 100px;
    
                .item-categoria {
    
                    width: 175%;
                    background-color: #dfbfbf;
                    text-align: center;
                    padding: 20px;
                    padding-left: 0px;
                    margin-left: 0px;
                }
    
    
            }
        }
    }


}





@media only screen and (max-width:768px) {



    h1 {

        padding: 12px;
        margin-top: 100px;
        margin-bottom: 100px;
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }




    .heros {
        h1 {
            position: absolute;
            left: 30%;
            top: 35%;
        }
    }




    /* index */

    .about-us {



        h1 {

            text-align: center;
            font-size: 35px;
            padding: 0px;
        }

        .logoo {

            width: 100%;
            height: 100%;



        }

        .about-us-content {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            p {

                font-size: 20px;
                padding: 50px 0px 50px 0px;
                text-align: justify;


            }



        }

        .about-us-content2 {

            margin-top: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;



            p {
                font-size: 18px;
                padding: 50px 0px 50px 0px;
                text-align: justify;

            }

            img {
                height: 700px;
                width: 300px;
                object-fit: cover;
                justify-items: center;



            }


        }

        .about-us-content3 {

            margin-top: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            p {
                font-size: 18px;
                padding: 50px 0px 50px 0px;
                text-align: justify;

            }

            img {
                height: 400px;
                width: 400px;
                object-fit: cover;



            }
        }

    }



    .grid img {

        width: 350px;
        height: 300px;
        max-width: 100%;

    }

    .mapa {

        width: 100%;
        height: 300px;
        justify-content: center;

    }

    .hero img {

        height: 350px;
        object-fit: cover;




    }

    /* cards */

    .card_body2 img {

        width: 100%;
        height: 400px;
        object-fit: cover;

    }

    .card_body2 {
        display: flex;
        flex-direction: column;
        width: 95%;
        text-align: left;
        background-color: #f8c5c5;

        p {
            font-family: 'Monserrat';
            font-size: 20px;
            padding: 10px;
        }

    }



    /* boxes */



    .box_servicios {

        display: block;
        width: 100%;
        height: 450px;
        text-align: left;
        background-color: #f8c5c5;

        img {
            width: 100%;
            height: 250px;
            object-fit: cover;



        }

        &:hover img {

            height: 250px;
            transition: .8s;

        }

        p {

            padding: 10px;
            color: #564f70;
            font-family: 'Monserrat';
            font-size: 15px;


        }

        h2 {
            text-align: center;

        }




    }

    .productos {
        display: inline-block;
        

        .lista-productos {
            display: flex;
            justify-content: center;
            align-items: center;

            .categorias {
                
                
                gap: 30px;
                margin-left: 0px;
                margin-bottom: 100px;
    
                .item-categoria {
    
                    width: 135%;
                    background-color: #dfbfbf;
                    text-align: center;
                    padding: 20px;
                    padding-left: 0px;
                    margin-left: 0px;
                }
    
    
            }
        }
    }




    .logoscontacto {




        img {
            width: 80px;
            height: 80px;
        }

        p {
            font-size: 40px;
            font-weight: bold;
        }
    }

}








@media only screen and (max-width:480px) {




    h1 {
        padding: 12px;
        margin-top: 100px;
        margin-bottom: 100px;
        font-size: 30px;
    }




    

    .heros {
        h1 {
            position: absolute;
            left: 30%;
            top: 35%;
        }
    }







    /* index */

    .about-us {

        h1 {

            text-align: center;
            font-size: 25px;
            padding: 0px;
        }



        .logoo {

            width: 100%;
            height: 100%;



        }

        .about-us-content {

            display: flex;
            flex-direction: column;


            p {

                font-size: 15px;
                padding: 50px 0px 50px 0px;
                text-align: justify;

            }



        }

        .about-us-content2 {

            display: flex;
            margin-top: 80px;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            p {
                font-size: 15px;
                padding: 50px 0px 50px 0px;
                text-align: justify;

            }

            img {
                height: 700px;
                width: 100%;
                object-fit: cover;



            }


        }

        .about-us-content3 {

            display: flex;
            margin-top: 80px;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            p {
                font-size: 15px;
                padding: 50px 0px 50px 0px;
                text-align: justify;

            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;

            }
        }

    }

    /* Trabajos */

    .grids {

        display: flex;
        flex-direction: column;

    }

    .grid img {

        width: 400px;
        height: 300px;



    }

    .mapa {

        width: 100%;
        height: 300px;


    }

    .hero img {

        height: 220px;
        object-fit: cover;




    }

    /* cards */



    .card_body2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        text-align: left;
        background-color: #f8c5c5;
        margin-left: 20px;

        img {

            width: 100%;
            height: 200px;
            object-fit: cover;

        }

        p {
            font-family: 'Monserrat';
            font-size: 15px;
            padding: 10px;
        }

    }




    /* boxes */




    .box_servicios {

        display: block;
        height: 300px;
        width: 100%;
        text-align: left;
        background-color: #f8c5c5;

        img {
            width: 100%;
            height: 100px;
            object-fit: cover;

        }

        &:hover img {

            height: 100px;
            transition: .8s;

        }

        p {

            padding: 10px;
            color: #564f70;
            font-family: 'Monserrat';
            font-size: 12px;


        }

        h2 {
            font-size: 16px;
            text-align: center;
        }


    }


    .productos {
        display: inline-block;
        

        .lista-productos {
            display: flex;
            justify-content: center;
            align-items: center;

            .categorias {
                
                padding: 30px 0px 0px 5px;
                gap: 30px;
                margin-left: 0px;
                margin-bottom: 100px;
    
                .item-categoria {
    
                    width: 100%;
                    background-color: #dfbfbf;
                    text-align: center;
                    padding: 20px;
                    padding-left: 0px;
                    margin-left: 0px;
                }
    
    
            }
        }
    }


    .logoscontacto {




        img {
            width: 50px;
            height: 50px;
        }

        p {
            font-size: 18px;
            font-weight: bold;
        }
    }


}