/* flex */

.boxes_servicios {
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 60px;


}

.box_servicios {

    width: 1400px;
    height: 500px;
    display: flex;
    overflow: hidden;
    animation-name: animacion1;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    animation-duration: 1s;
    transform: translateX(0);



    h2 {

        font-size: 30px;
        padding: 30px 30px 0px 30px;
    }

    p {

        padding: 50px;
        color: #564f70;
        font-family: 'Monserrat';
        font-size: 22px;
        text-align: justify;

    }

    img {
        width: 650px;
        height: 500px;
        object-fit: cover;


    }

    &:nth-child(even) {

        flex-direction: row-reverse;
        background-color: $box-background-color;
    }

    &:hover {

        background-color: #fdbaba;
        box-shadow: 5px 5px 5px 0px #b38b8b;
        transition: .5s;
    }

    &:hover img {

        height: 600px;
        transition: 1.5s;
    }


}

@keyframes animacion1 {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}