
/* grilla */

.grids {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
    margin-bottom: 100px;
    margin-top: 50px;

}


.grid img {

    width: 450px;
    height: 400px;
    object-fit: cover;
    max-width: 100%;
    animation-name: animacion2;
    animation-timing-function: linear;
    animation-duration: 2.5s;



}

@keyframes animacion2 {
    0% {

        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    99% {
        opacity: 1;
    }
}