.btn {

    margin-left: 40px;
    background-color: #ffbbbb;
    border-color: #ffffff;
}

.encabezado {

    text-align: center;

}

.horizontal-line {

    width: 100%;
    height: 1px;
    background-color: #e6e6e6;

}